[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = none