version: '3.5'

services:

  db:
    networks:
      - internal
    labels:
      - traefik.enable=false

  adminmanagement:
    image: timcrn/adminmanagement:latest
    networks:
      - web
      - internal
    labels:
      - traefik.docker.network=web
      - traefik.backend=adminmanagement
      - traefik.frontend.rule=Host:zuydest.nl
      - traefik.port=80

  reverse-proxy:
    image: traefik:1.7.9
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/traefik/traefik.toml:/traefik.toml
      - /usr/local/traefik/acme.json:/acme.json
    networks:
      - web
    labels:
      - traefik.frontend.rule=Host:traefik.zuydest.nl
      - traefik.port=8081
networks:
  web:
    external: true
  internal:
    external: false