version: '3.5'

services:

  db:
    image: mysql
    volumes:
      - ./.sqldata:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - 3306:3306

  adminmanagement:
    image: ${DOCKER_REGISTRY-}adminmanagement
    depends_on:
      - db
    command: ["/wait-for-it.sh", "db:3306", "--", "dotnet", "AdminManagement.dll"]
    build:
      context: .
      dockerfile: AdminManagement/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
      - ConnectionStrings__MySqlConnection=server=db;database=${MYSQL_DATABASE};userid=root;pwd=${MYSQL_ROOT_PASSWORD}