@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Admin Beheer</h1>
    <p><a href="@Url.Action("Index", "Management")" class="btn btn-primary btn-lg">Beheer &raquo;</a></p>
</div>